/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

.hidden {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
::-moz-selection {
    color: #555252;
    text-shadow: none;
    background: #2B2E31;
}
::-webkit-input-placeholder {
    color: #555252 !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #555252 !important;
}
::-moz-placeholder  {
    /* Firefox 19+ */
    color: #555252 !important;
}
:-ms-input-placeholder {
    color: #555252 !important;
}
.contact-form .form-control::-webkit-input-placeholder{
    color: #fff !important;
}
.contact-form .form-control::-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-ms-input-placeholder{
    color: #fff !important;
}

*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: #0098d7;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,a:focus {
    text-decoration: none;
    color: #01090C;
}
a img {
    border: none;
    vertical-align: bottom;
}
a.remove {
    display: block;
    height: 18px;
    width: 18px;
    margin: 10px;
    padding-left: 0 !important;
    text-indent: -9999px;
    background: url(images/remove.png) #01090C;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: 'Roboto', serif;
    line-height: 140%;
    color: #01090c;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
.lead {
    font-family: 'Open Sans', Arial,sans-serif !important;
    font-size: 18px;
    margin: 15px 0;
    padding: 0;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe,embed,object {
    max-width: 100%;
}
input,textarea {
    color: #000 !important
}

html, body, .wrapper{
    height: 100%;
}
.titie-section{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.titie-section h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 48px;
    color: #515151;
    font-weight: 900;
    text-transform: uppercase;
}
.titie-section h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#1abc9c;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#1abc9c;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#1abc9c;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.titie-section.white h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#fff;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
/*
    SLIDER SECTION
 */
.slider-section{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}
/*.slider-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.52);
    z-index: 9
}*/

.slider-section img{
    display: block;
    width: 100%;
    height: auto;
}
.carousel-inner{
    position: relative;
}
.carousel-inner .item{}
.carousel-inner .item:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.52);
    z-index: 9
}
.carousel-inner .item img{}
.carousel-inner .item .carousel-caption{
    top: 30%;
    z-index: 999;
}
.carousel-inner .item .carousel-caption h2{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    text-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
.carousel-inner .item .carousel-caption h2 b{
    color: #1abc9c
}

.carousel-inner .item .carousel-caption h3{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
.carousel-inner .item .carousel-caption h3 span{
    color: #1abc9c;
}

.carousel-inner .item .carousel-caption a{
    display: inline-block;
    padding: 13px 30px;
    border: 2px solid #1abc9c;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 10px;
}
.carousel-inner .item .carousel-caption a:hover{
    background: #1abc9c;
}
.carousel-control{
    background-image: none !important;
    box-shadow: none !important;
    background: red;
}

.carousel-control span{
    font-size: 90px !important;
    color: #fff;
}
a.carousel-control.left, a.carousel-control.right{
    background: #46bfa9 !important;
    background-image: none !important;
    box-shadow: none !important;
    width: 100px;
    height: 100px;
    background: #46bfa9;
    text-align: center;
    position: absolute;
    top: 45%;
    border: none;
    display: block;
    text-align: center;
    z-index: 999

}
a.carousel-control.left > span{
    position: absolute;
    top: 7px;
    margin: 0 auto;
    left: 5px;
}

a.carousel-control.right > span{
    position: absolute;
    top: 7px;
    margin: 0 auto;
    left: -5px;
}

.carousel-control.right{
    width: 0;
    height: 0;
    background: #46bfa9;
    /* border-width: 50px 100px 50px 0;
     border-color: transparent #46bfa9 transparent transparent;*/
}
.carousel-control.left{
    width: 0;
    height: 0;
    background: #46bfa9;
    /*border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #46bfa9;*/

}
.carousel-control span{
    font-size: 100px;
    color: #fff;
}
.slider-indicators{
    display: none;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
#spree-header{
    margin-bottom: 0px;
}
#spree-header #header{
    background: white;
}
.link-to-login{
    color: black;
}
.container-fluid .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.container-fluid .row #content{
    padding: 0px !important;
}
/*
    FEATURED SECTION
 */
.featured-section{
    display: block;
    padding: 0px 0 0px;

}
.filter-menu{
    display: block;
    text-align: center;
    margin: 30px 0 50px;
}
.filter-menu ul{
    display: inline-block;
    margin: 0 auto;
}
.filter-menu ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-menu ul li.active{
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}

.filter-menu ul li span{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #1abc9c;
    font-weight: 700;
    display: block;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    top: -55px;
    right: -20px;
    opacity: 0;
    transition: all 0.5s;
}
.filter-menu ul li.active span{
    opacity: 1;
    top: -22px;
    right: -5px
}

.featured .product-item{
    background: #e9f0fd
}
.featured-section .row:first-child{
    margin-bottom: 30px;
}
/*
    OFFER SECTION
 */
.offer-section{
    display: block;
    padding: 170px 0 130px;
    position: relative;
    width: 100%;
    background: url(offer-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
.offer-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}
.offer-section h1{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.offer-section h2{
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
/*
    CONTACT SECTION
 */
.contact-section{
    background: url(map-bg.png) #2d3237 no-repeat;
    /*  background-size: 100%;   */
    background-position: center center;
    padding: 100px 0 80px;
    display: block;
    position: relative;
}
.contact-section:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(45, 50, 55, .55)
}
.contact-section .titie-section{
    display: block;
    margin-bottom: 80px;
}
.contact-section .titie-section h1{
    color: #fff;
}
.contact-section .left-content{}
.contact-section .left-content h1{
    font-size: 72px;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1;
    font-weight: 300;
}
.contact-section .left-content h1 span{
    color: #1abc9c;
}

.contact-section .left-content h3{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contact-section .left-content p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Roboto';
}
.contact-section .left-content p b{
    color: #1abc9c;
}

.contact-section .left-content p{}
.contact-info{
    display: block;
    margin-top: 10px;
}

.contact-info p{
    margin: 0;
}
.social-media{
    display: block;
    margin-top: 10px;
}
.social-media ul{
    margin: 0;
    padding: 0;
    display: block;
}
.social-media ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.social-media ul li a{
    color: #fff;
}
.social-media ul li a i{
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 7px 0;
}
.social-media ul li a:hover i{
    background: #1abc9c;
    border: 1px solid #1abc9c;
}
.contact-form{
    margin-top: 10px;
    display: block;
}
.contact-form .col-md-6{
    display: block;
    margin-bottom: 30px;
}

.contact-form .input-group{
    width: 100%;
    display: block;
}
.contact-form .input-group input.form-control, .contact-form .input-group textarea.form-control{
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
}
.contact-form .input-group textarea.form-control{
    height: 150px;
}
.contact-form .input-group .form-control:focus, .contact-form .input-group .form-control:hover{
    border: 1px solid #1abc9c;
    box-shadow: none;
    color: #1abc9c !important;
}

.contact-form .input-group input.contact-submit{
    display: inline-block;
    background: #1abc9c !important;
    padding: 10px 40px;
    border: none;
    color: #fff !important;
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
}
