<%= render partial: 'spree/shared/header' %>
<div class="whylto-container" id="why-lto">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-push-5 about-text-wrapper">
        <p>When you are renting indefinitely, you are often paying off the machine over five times to the rental company, not reserving precious money for your business. When you lease to own, you invest in your business, not theirs. Smart move!</p>
        <p>Renting offers few (if any) tax benefits, while leasing to own provides HUGE tax write offs! Once again, you are left with more money to invest in your business, not some rental company</p>
        <p>You don't have to rent to get service. There are hundreds of small chemical and service companies in our network. Any of our chemical and service providers will gladly service your machine in return for purchasing their sanitation chemicals.</p>
        <p>Today, business owners are getting smarter. Nobody wants to waste money, and nobody likes to be taken advantage of, so stop letting those big chemical companies abuse you and make a smart financial decision. Call us today and switch to our leasing program! We are standing by to help.</p>
        <div class="text-center">
          <a class="btn btn-primary" href="/new_leases">Apply Now</a>
        </div>
        <div class="col-md-12">
          <div class="comparison-box">
            <h1 class="h3">Example of Renting vs Leasing to Own:</h1>
            <h2 class="red">Renting:</h2>
            <p>
              <strong>Single rack dishwasher:</strong>
              $89/month
              <br>
              Chemical minimum: $150=$239/month for 13 months (28 day billing cycles) = roughly $2,868/year over
              5 years = $14,340
            </p>
            <h2>Leasing to Own:</h2>
            <p>
              <strong>Single rack dishwasher:</strong>
              $109/month
              <br>
              Chemical minimum: 0
            </p>
            <p>Lease to own contracts are only 12 months a year (30 day billing cycles). That’s only $1,308 per year. Over 5 years, that’s only $6,540! You’ll be paying $7,800 less over 5 years, and you won’t be locked into a ridiculous chemical contract. And that’s not even accounting for the tax breaks. Overall, you’re saving 55%! Not too shabby.</p>
            <p>Wishing you the highest success possible!</p>
            <p>
              <em>Dishcount Leasing Team 2016</em>
            </p>
            <div class="pulse">
              <img class="pull-left hidden-xs" src="http://leasetoowndishwasher.com/images/lease-vs-rent/thumb.png" style="margin-right: 10px;">
              <a class="flashy-banner" href="/leasing-vs-renting">Other Savings Examples
                <br>
                <span>That you can't miss out on!</span>
              </a></div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-pull-7 about-image-wrapper">
        <p class="lead" style="color: #f2e683;">
          Leasing to own your commercial dishwasher is one of the best financial decisions a restaurant owner can make. Here are a few reasons why:
        </p>
        <%= image_tag('about.png', alt: 'example image') %>

      </div>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/footer' %>