<%= render partial: 'spree/shared/header' %>
<div class="service-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-4 about-text-wrapper">
        <div class="lead">
          RENTING IS MORE EXPENSIVE THAN LEASING TO OWN, READ BELOW:
        </div>
        <p>Dear Lease to own customer:</p>
        <p>Thank you for taking the time to visit our website. I am glad you are educating yourself about the dishwasher rental and lease to own market. You made a good decision by not rushing into a rental contract, here are a few reasons why.</p>
        <p>First reason that is the most important in my opinion. You don't have to "rent" a dishwasher to get monthly maintenance or emergency service because we have a nationwide network of 350 dishwasher companies that will gladly service your machine if you just buy the ongoing chemicals from them (with no forced minimums) you buy when you need it not when they tell you to. Just ask us for help and we will recommend the right company to you. We love helping out small businesses to save money.</p>
        <p>Second reason equally important is when you rent you receive almost zero tax benefits but when you lease to own you can write off 100 % of the value of the lease contract in the first 3 years. That is a very big break and is worth thousands.</p>
        <p>Third reason I always remind business owners of, when you rent a dishwasher you are investing into the rental company and making them richer when you should be investing into your business. This is real money not monopoly money you should save it and not waste it on the rental company. For every extra hundred dollars you pay on rent you could turn that into $500 on food profit. Think it over and make the right decision, don't rush.</p>
        <p>Sincerely,</p>
        <p>Matthew Prager</p>
        <p>Owner, Dishcount Leasing LLC</p>
        <p>Direct personal line 888-980-6951</p>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <p><%= image_tag 'dishcount_service.png', alt: 'image example' %></p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/footer' %>