<%= render partial: 'spree/shared/header' %>
<div class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-push-5 about-text-wrapper">
        <p>Dear New Dish Machine Customer:</p>
        <p>Welcome to Dishcount Leasing website. In this site you will find different methods of leasing to own brand new dish machines with just a dollar buyout far below current market pricing. I would like to invite you to apply and we can quickly figure out which program will suit you and your business best. We Approve 97% of applicants.</p>
        <p>I currently own a very successful Ware Washing Chemical and Service business in South Florida and can't figure out why so many people are still renting dish machines indefinitely from the bigger Chemical Companies. In most cases an average restaurant owner or commercial business owner will pay off the rented machine 5 x for the Chemical Company and that's money you could have invested into your business and not theirs. I always offer my customers a lease to own deal first because it's in their best interest and not mine. We have over 800 extremely happy references and have no problem sharing them with anyone who applies through us.</p>
        <p>The Dish Machines we sell and lease are all made in the USA and manufactured by American Employee's with 100% American Parts. Your average commercial Dish Machine today will run effortlessly over 12-15 years with good preventative maintenance. Any qualified, local chemical company in any state or near your business will gladly service your dish machine almost free of charge as long as you purchase basic sanitation chemicals from them. Why rent forever?</p>
        <p>Our goal is that you don't get trapped into a long term, auto renewing or indefinite dishwasher rental contract with any dishwasher company. Invest in your business and start saving money right now. Call us anytime at 888-980-6951 so we can get you a new, quality dishwasher on a lease to own program today!</p>
        <p>Matt Prager,</p>
        <p><%= image_tag 'ceo-signature.png', alt: 'image example' %></p>
        <p>President ,</p>
        <p>Dishcount Leasing, LLC</p>
      </div>
      <div class="col-md-5 col-md-pull-7 about-image-wrapper">
        <%= image_tag('about.png', alt: 'example image') %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/footer' %>